<div class="mat-elevation-z8">
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input />
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>id</th>
            <td mat-cell *matCellDef="let row">{{ row.id ?? "sin asignar" }}</td>
        </ng-container>

        <ng-container matColumnDef="titulo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Titulo</th>
            <td mat-cell *matCellDef="let row">{{ row.titulo ?? "sin asignar" }}</td>
        </ng-container>

        <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</th>
            <td mat-cell *matCellDef="let row">{{ row.descripcion ?? "sin asignar" }}</td>
        </ng-container>

        <ng-container matColumnDef="proyecto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Proyecto</th>
            <td mat-cell *matCellDef="let row">{{ row.proyecto?.nombre ?? "sin asignar" }}</td>
        </ng-container>


        <ng-container matColumnDef="asignado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Dev Asignado</th>
            <td mat-cell *matCellDef="let row">
                {{ row.asignado?.nombre ?? "sin asignar" }}
            </td>
        </ng-container>

        <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
            <td mat-cell *matCellDef="let row">{{ row.estado?.nombre ?? "sin asignar" }}</td>
        </ng-container>

        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button matTooltip="Ver" (click)="ver.emit(row.id)">
                    <mat-icon>visibility</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Editar" (click)="editar.emit(row.id)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Eliminar" (click)="eliminar.emit(row.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{ input.value }}"</td>
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 15, 20]"></mat-paginator>
</div>
